
.events{
    padding: 80px 0;
    background: linear-gradient(45.00deg, rgb(255, 63, 58,0.2),rgb(247, 94, 5,0.2) 100%,);
    position: relative;
    overflow: hidden;
    &:before,
    &:after{
        content: "";
        position: absolute;
    }
    &:before{
        top: -100px;
        right: -100px;
        width: 284px;
        height: 284px;
        background: url(../img/icon/circles.svg);
    }
    &:after{
        left: 0;
        bottom: 0;
        width: 159px;
        height: 116px;
        background: url(../img/icon/dots.svg);
        background-repeat: no-repeat;
    }
    &__box{
        text-align: center;
        margin-bottom: 0;
    }
    &__inner{
        display: flex;
        flex-direction: column;
        gap:60px;
    }
    &__all{
        display: flex;
        gap:40px;
        align-items: center;
        justify-content: center;
        .events__all-text{
            font-size: 28px;
        }
    }
    &__all-text{
        @extend %text;
    }
    &__all-link{
        @extend %btn-accent;
    }
}

@import "base/_vars.scss";