.procces{
    padding: 0 0 180px;
    &__content{
        display: flex;
        justify-content: space-between;
        gap:20px;
    }
    &__steps{
        flex-basis: 495px;
        list-style: none;
        counter-reset: custom-link;
    }
    &__item{
        counter-increment: custom-link;
        padding-left: 48px;
        position: relative;
        overflow: hidden;
        &:not(:last-of-type){
            padding-bottom: 32px;
        }
        &:before{
            position: absolute;
            content:"";
            width: 8px;
            height: 8px;
            background-color: $accent-color;
            border-radius: 50%;
            left: 0;
            top: 11px;
        }
        &:after{
            position: absolute;
            content:"";
            left: 0;
            width: 1px;
            height: 100%;
            top: 25px;
            transform: translateX(4px);
            background-color: rgba(154, 156, 165,0.5);
        }
    }
    &__step{
        padding-right: 10px;
        position: relative;
        display: inline-block;
        font-size: 12px;
        @extend %lato-900;
        color: rgb(120, 122, 128);
        margin-bottom: 2px;
        &:before{
            position: absolute;
            content: counter(custom-link);
            right: 0;
        }
    }
    &__title{
        @extend %text;
        margin-bottom: 8px;
    }
}