@import "base/_vars.scss";

.register{
    padding: 100px 0;
    &__inner{
        display: flex;
        justify-content: space-between;
        gap:20px;
    }
    &__form{
        flex-basis: 500px;
    }
    &__box{
        margin-bottom: 40px;
    }
    &__form-label{
        display: flex;
        flex-direction: column;
        gap:8px;
        &:not(:last-of-type){
            margin-bottom: 24px;
        }
        &:last-of-type{
            margin-bottom: 40px;
        }
    }
    &__form-span{
        font-size: 14px;
    }
    &__form-input{
        @extend %input;
    }
    &__form-btn{
        @extend %btn-accent;
        align-self: flex-end;
        width: 100%;
    }
}