.toolbat{
    margin-bottom: 60px;
    &__form{
        display: flex;
        justify-content: space-between;
        gap:15px;
        align-items: center;
    }
    &__label{
        display: flex;
        align-items: center;
        gap:12px;
    }
    &__text{
        @extend %lato-700;
    }
    &__select,
    &__input{
        border: 1px solid rgb(215, 218, 221);
        border-radius: $borderRadiusCard;
        min-height: 44px;
        font-size: 14px;
        padding: 0 16px;
        @extend %flexCenter;
    }
    &__select{
        appearance: none;
        background-image: url(../../img/icon/down-chevron.svg);
        background-position: right;
        background-repeat: no-repeat;
        padding-right: 30px;
        flex-basis: 160px;
        background-position-x: calc(100% - 15px);
        option{
            border: 1px solid rgb(215, 218, 221);
        }
    }
    &__text-subtext{
        color:#787A80;
    }
    &__pager{
        flex-basis: 240px;
    }
    &__search{
        flex-basis: 282px;
        position: relative;
        display: flex;
        align-items: center
    }
    &__search-input{
        @extend %flexCenter;
        @include padding(0,35px,0,15px);
        @include border(1px,$gray,solid);
        @include borderRadius($borderRadiusInput);
        min-height: 44px;
        background-color: $input-color;
        width: 100%;
        &::placeholder{
            font-size: 16px;
            line-height: 1.6;
            background-color: $bg-color;
            color:$main-color;
            @extend %lato-400;
            color:#9A9CA5;
        }
    }
    &__search-decor{
        background-color: transparent;
        position: absolute;
        right: 15px;
        margin-top: 3px;
        cursor: pointer;
    }
    &__view{
        display: flex;
        gap:12px;
    }
    &__view-buttom{
        
        &.active{
            svg{
                path{
                    fill:$accent-color;
                }
            }
        }
    }
}