@import "base/_vars.scss";

.values{
    padding: 0 0 180px;
    &__box{
        text-align: center;
    }
    &__items{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap:5px;
    }
    &__item{
        &:not(:first-of-type){
            margin-left: 45px;
        }
        &:not(:last-of-type){
            position: relative;
            padding-right: 45px;
            &:before{
                position: absolute;
                content:"";
                width: 1px;
                height: 100%;
                background: linear-gradient(90deg, rgba(218,219,221,1) 0%, rgba(218,219,221,0.5) 50%, rgba(218,219,221,1) 100%);
                right: 0;
                top: 0;
            }
        }
    }
}